<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerador de Chamados</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://127.0.0.1:5000/static/style.css" rel="stylesheet">
    <link href="http://172.17.68.75:5000/static/style.css" rel="stylesheet">
    <style>
        body {
            padding-top: 20px;
        }
        .form-group label {
            font-weight: bold;
        }
        .btn-primary {
            width: 100%;
            font-size: 18px;
        }
        .form-section {
            display: none;
        }
        .result-box {
            margin-top: 20px;
            padding: 10px;
            background-color: #f1f1f1;
            border: 1px solid #ccc;
            border-radius: 5px;
            display: none;
        }
        .copy-button-container {
            text-align: center;
            margin-top: 10px;
        }
        .copy-button {
            width: auto;
        }
        .alert {
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2 class="text-center">Gerador de Chamados</h2>
        <form id="chamadoForm">
            <div class="form-group">
                <label for="tipoProblema">Selecione o tipo de problema *</label>
                <select class="form-control" id="tipoProblema" name="tipoProblema" required>
                    <option value="">Selecione</option>
                    <option value="energia">Indisponibilidade de Energia</option>
                    <option value="link">Indisponibilidade de link</option>
                    <option value="interno">Problema interno</option>
                </select>
            </div>
            <div id="formEnergia" class="form-section">
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="unidade_energia">Qual unidade está com essa indisponibilidade? *</label>
                        <input type="text" class="form-control" id="unidade_energia" name="unidade_energia" placeholder="Informe a unidade">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="relacionado_copel">O problema está relacionado com a Copel? *</label>
                        <select id="relacionado_copel" name="relacionado_copel" class="form-control">
                            <option value="" selected>Selecione</option>
                            <option value="está relacionado">Sim</option>
                            <option value="não está relacionado">Não</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6" id="contatoCopelSection" style="display: none;">
                        <label for="entrou_contato">A unidade já entrou em contato com a Copel? *</label>
                        <select id="entrou_contato" name="entrou_contato" class="form-control">
                            <option value="" selected>Selecione</option>
                            <option value="entrou em contato">Sim</option>
                            <option value="não entrou em contato">Não</option>
                        </select>
                    </div>
                </div>
                <div id="contatoCopel" style="display: none;">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="colaborador_contato">Qual colaborador você entrou em contato? *</label>
                            <input type="text" class="form-control" id="colaborador_contato" name="colaborador_contato">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="prazo_resolucao">Informe o prazo para resolução (Ex: 8hrs): *</label>
                            <input type="text" class="form-control" id="prazo_resolucao" name="prazo_resolucao">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="motivo_problema">Foi dado um motivo para o problema?</label>
                        <select id="motivo_problema" name="motivo_problema" class="form-control">
                            <option value="" selected>Selecione</option>
                            <option value="sim">Sim</option>
                            <option value="não">Não</option>
                        </select>
                    </div>
                    <div id="justificativa" style="display: none;">
                        <div class="form-group">
                            <label for="justificativa_problema">Qual a justificativa do problema? *</label>
                            <input type="text" class="form-control" id="justificativa_problema" name="justificativa_problema">
                        </div>
                    </div>
                </div>
                <div id="avisoCopel" style="display: none;">
                    <div class="alert alert-warning" role="alert">
                        Por favor, caso o problema não esteja relacionado a Copel, realize a abertura do chamado na opção "Problema Interno".
                    </div>
                </div>
                <button type="submit" class="btn btn-primary custom-primary">Gerar Chamado</button>
            </div>
            <div id="formLink" class="form-section">
                <div class="form-group">
                    <label for="unidade_link">Qual unidade está com essa indisponibilidade?</label>
                    <input type="text" class="form-control" id="unidade_link" name="unidade_link" placeholder="Informe a unidade">
                </div>
                <div class="form-group">
                    <label for="abertura_chamado">Foi realizada a abertura de chamado? *</label>
                    <select id="abertura_chamado" name="abertura_chamado" class="form-control">
                        <option value="">Selecione</option>
                        <option value="sim">Sim</option>
                        <option value="não">Não</option>
                    </select>
                </div>
                <div id="chamadoAberto" style="display: none;">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="ticket_chamado">Informe o Ticket do chamado *</label>
                        <input type="text" class="form-control" id="ticket_chamado" name="ticket_chamado" placeholder="Ticket do chamado">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="prazo_resolucao_internet">Informe o prazo para resolução (Ex: 8hrs): *</label>
                        <input type="text" class="form-control" id="prazo_resolucao_internet" name="prazo_resolucao_internet">
                    </div>
                </div>
                    <button type="submit" class="btn btn-primary custom-primary">Gerar Chamado</button>
                </div>
                <div id="avisoAbrirChamado" style="display: none;">
                    <div class="alert alert-warning" role="alert">
                        Por favor, realize a abertura do chamado antes de continuar.
                    </div>
                </div>
            </div>
        </form>
        <div class="result-box" id="mensagem"></div>
        <div class="copy-button-container">
            <button id="copiarTexto" class="btn btn-primary custom-primary copy-button hidden">Copiar para Área de Transferência</button>
        </div>
    </div>  
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script>
        document.getElementById("tipoProblema").addEventListener("change", function() {
            const tipoProblema = this.value;
            const formEnergia = document.getElementById("formEnergia");
            const formLink = document.getElementById("formLink");
            
            if (tipoProblema === "energia") {
                formEnergia.style.display = "block";
                formLink.style.display = "none";
                setEnergiaRequired(true);
                setChamadoRequired(false);
            } else if (tipoProblema === "link") {
                formEnergia.style.display = "none";
                formLink.style.display = "block";
                setEnergiaRequired(false);
                setChamadoRequired(true);
            } else {
                formEnergia.style.display = "none";
                formLink.style.display = "none";
                setEnergiaRequired(false);
                setChamadoRequired(false);
            }
        });

        document.getElementById("relacionado_copel").addEventListener("change", function() {
            const contatoCopelSection = document.getElementById("contatoCopelSection");
            const avisoCopel = document.getElementById("avisoCopel");
            const entrouContato = this.value;

            if (entrouContato === "está relacionado") {
                contatoCopelSection.style.display = "block";
                avisoCopel.style.display = "none";
                setContatosRequired(true);
            } else {
                contatoCopelSection.style.display = "none";
                avisoCopel.style.display = "block";
                setContatosRequired(false);
            }
        });

        document.getElementById("entrou_contato").addEventListener("change", function() {
            const contatoCopel = document.getElementById("contatoCopel");
            if (this.value === "entrou em contato") {
                contatoCopel.style.display = "block";
                setContatosDetailsRequired(true);
            } else {
                contatoCopel.style.display = "none";
                setContatosDetailsRequired(false);
            }
        });

        document.getElementById("motivo_problema").addEventListener("change", function() {
            const justificativa = document.getElementById("justificativa");
            if (this.value === "sim") {
                justificativa.style.display = "block";
                document.getElementById("justificativa_problema").setAttribute("required", "required");
            } else {
                justificativa.style.display = "none";
                document.getElementById("justificativa_problema").removeAttribute("required");
            }
        });

        document.getElementById("abertura_chamado").addEventListener("change", function() {
            const chamadoAberto = document.getElementById("chamadoAberto");
            const avisoAbrirChamado = document.getElementById("avisoAbrirChamado");

            if (this.value === "sim") {
                chamadoAberto.style.display = "block";
                avisoAbrirChamado.style.display = "none";
                setChamadoRequired(true);
            } else {
                chamadoAberto.style.display = "none";
                avisoAbrirChamado.style.display = "block";
                setChamadoRequired(false);
            }
        });

        function setEnergiaRequired(isRequired) {
            const fields = ['unidade_energia', 'relacionado_copel', 'entrou_contato', 'colaborador_contato', 'prazo_resolucao'];
            fields.forEach(id => {
                if (isRequired) {
                    document.getElementById(id).setAttribute("required", "required");
                } else {
                    document.getElementById(id).removeAttribute("required");
                }
            });
        }

        function setContatosRequired(isRequired) {
            const fields = ['entrou_contato'];
            fields.forEach(id => {
                if (isRequired) {
                    document.getElementById(id).setAttribute("required", "required");
                } else {
                    document.getElementById(id).removeAttribute("required");
                }
            });
        }

        function setContatosDetailsRequired(isRequired) {
            const fields = ['colaborador_contato', 'prazo_resolucao'];
            fields.forEach(id => {
                if (isRequired) {
                    document.getElementById(id).setAttribute("required", "required");
                } else {
                    document.getElementById(id).removeAttribute("required");
                }
            });
        }

        function setChamadoRequired(isRequired) {
            const fields = ['ticket_chamado', 'prazo_resolucao_internet'];
            fields.forEach(id => {
                if (isRequired) {
                    document.getElementById(id).setAttribute("required", "required");
                } else {
                    document.getElementById(id).removeAttribute("required");
                }
            });
        }

        document.getElementById("chamadoForm").addEventListener("submit", function(event) {
            event.preventDefault();
            const tipoProblema = document.getElementById("tipoProblema").value;
            let message = "";

            if (tipoProblema === "energia") {
                message = `Unidade com indisponibilidade de energia: "${document.getElementById("unidade_energia").value}"\n`;
                const relacionadoCopel = document.getElementById("relacionado_copel").value;
                message += `Problema relacionado com a Copel?: ${relacionadoCopel}\n`;

                if (relacionadoCopel === "está relacionado") {
                    message += `A unidade já entrou em contato com a Copel?: ${document.getElementById("entrou_contato").value}\n`;
                    if (document.getElementById("entrou_contato").value === "entrou em contato") {
                        message += `Qual colaborador você entrou em contato?: ${document.getElementById("colaborador_contato").value}\n`;
                        message += `Informe o prazo para resolução: ${document.getElementById("prazo_resolucao").value}\n`;
                        if (document.getElementById("motivo_problema").value === "sim") {
                            message += `Qual a justificativa do problema?: ${document.getElementById("justificativa_problema").value}\n`;
                        }
                    }
                }
            } else if (tipoProblema === "link") {
                message = `Unidade com indisponibilidade de link: "${document.getElementById("unidade_link").value}"\n`;
                if (document.getElementById("abertura_chamado").value === "sim") {
                    message += `Informe o Ticket do chamado: ${document.getElementById("ticket_chamado").value}\n`;
                    message += `Informe o prazo para resolução: ${document.getElementById("prazo_resolucao_internet").value}\n`;
                } else {
                    message += `Foi realizada a abertura de chamado?: Não foi realizada a abertura de chamado\n`;
                }
            }

            const mensagemBox = document.getElementById("mensagem");
            mensagemBox.innerText = message;
            mensagemBox.style.display = "block";

            const copyButton = document.getElementById("copiarTexto");
            copyButton.style.display = "block";
        });

        document.getElementById("copiarTexto").addEventListener("click", function() {
            const mensagemBox = document.getElementById("mensagem");
            const text = mensagemBox.innerText;
            navigator.clipboard.writeText(text).then(() => {
                alert("Texto copiado para a área de transferência!");
            }).catch(err => {
                console.error('Erro ao copiar texto: ', err);
            });
        });
    </script>
</body>
</html>
