<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerador de Chamados - Indisponibilidade de Energia</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://172.17.68.75:5000/static/style.css" rel="stylesheet">
    <style>
        body {
            padding-top: 20px;
        }
        .form-group label {
            font-weight: bold;
        }
        .btn-primary, .custom-primary {
            width: 100%;
            font-size: 18px;
            background-color: #285a41; /* Cor ajustada para #285a41 */
            border-color: #285a41;
        }
        .result-box {
            margin-top: 20px;
            padding: 10px;
            background-color: #f1f1f1;
            border: 1px solid #ccc;
            border-radius: 5px;
            display: none;
        }
        .alert {
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2 class="text-center">Gerador de Chamados - Indisponibilidade de Energia</h2>
        <form id="chamadoForm">
            <div class="form-group">
                <label for="unidade_energia">Qual unidade está com essa indisponibilidade? *</label>
                <input type="text" class="form-control" id="unidade_energia" name="unidade_energia" placeholder="Informe a unidade" required>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="nome_energia">Nome *</label>
                    <input type="text" class="form-control" id="nome_energia" name="nome_energia" placeholder="Informe o nome" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="setor_energia">Setor *</label>
                    <input type="text" class="form-control" id="setor_energia" name="setor_energia" placeholder="Informe o setor" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="contato_energia">Contato *</label>
                    <input type="text" class="form-control" id="contato_energia" name="contato_energia" placeholder="Informe o contato" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="relacionado_copel">O problema está relacionado com a Copel? *</label>
                    <select id="relacionado_copel" name="relacionado_copel" class="form-control">
                        <option value="" selected>Selecione</option>
                        <option value="está relacionado">Sim</option>
                        <option value="não está relacionado">Não</option>
                    </select>
                </div>
            </div>
            <div id="contatoCopel" style="display: none;">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="prazo_resolucao">Informe o prazo para resolução (Ex: 8hrs): *</label>
                        <input type="text" class="form-control" id="prazo_resolucao" name="prazo_resolucao">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="motivo_problema">Foi dado um motivo para o problema?</label>
                        <select id="motivo_problema" name="motivo_problema" class="form-control">
                            <option value="" selected>Selecione</option>
                            <option value="sim">Sim</option>
                            <option value="não">Não</option>
                        </select>
                    </div>
                </div>
                <div id="justificativa" style="display: none;">
                    <div class="form-group">
                        <label for="justificativa_problema">Qual a justificativa do problema? *</label>
                        <input type="text" class="form-control" id="justificativa_problema" name="justificativa_problema">
                    </div>
                </div>
            </div>
            <div id="avisoCopel" style="display: none;">
                <div class="alert alert-warning" role="alert">
                    Por favor, caso o problema não esteja relacionado a Copel, realize a abertura do chamado na opção "Problema Interno".
                </div>
            </div>
            <button type="submit" class="btn btn-primary custom-primary">Gerar Chamado</button>
        </form>
        <div class="result-box" id="mensagem"></div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    <script>
        $(document).ready(function() {
            $('#relacionado_copel').change(function() {
                var relacionadoCopel = $(this).val();
                if (relacionadoCopel === 'está relacionado') {
                    $('#contatoCopel').show();
                    $('#avisoCopel').hide();
                    $('#prazo_resolucao').prop('required', true);
                } else if (relacionadoCopel === 'não está relacionado') {
                    $('#contatoCopel').hide();
                    $('#avisoCopel').show();
                    $('#prazo_resolucao').prop('required', false);
                } else {
                    $('#contatoCopel').hide();
                    $('#avisoCopel').hide();
                    $('#prazo_resolucao').prop('required', false);
                }
            });

            $('#motivo_problema').change(function() {
                var motivoProblema = $(this).val();
                if (motivoProblema === 'sim') {
                    $('#justificativa').show();
                    $('#justificativa_problema').prop('required', true);
                } else {
                    $('#justificativa').hide();
                    $('#justificativa_problema').prop('required', false);
                }
            });

            $('#chamadoForm').submit(function(e) {
                e.preventDefault();
                var mensagem = '';

                var unidadeEnergia = $('#unidade_energia').val();
                var nomeEnergia = $('#nome_energia').val();
                var setorEnergia = $('#setor_energia').val();
                var contatoEnergia = $('#contato_energia').val();
                var relacionadoCopel = $('#relacionado_copel').val();
                var prazoResolucao = $('#prazo_resolucao').val();
                var motivoProblema = $('#motivo_problema').val();
                var justificativaProblema = $('#justificativa_problema').val();

                mensagem = `Tipo de Problema: Indisponibilidade de Energia\n` +
                    `Unidade: ${unidadeEnergia}\n` +
                    `Nome: ${nomeEnergia}\n` +
                    `Setor: ${setorEnergia}\n` +
                    `Contato: ${contatoEnergia}\n`;

                if (relacionadoCopel === 'está relacionado') {
                    mensagem += `Relacionado à Copel: Sim\n` +
                        `Prazo para Resolução: ${prazoResolucao}\n`;
                    if (motivoProblema === 'sim') {
                        mensagem += `Motivo do Problema: ${justificativaProblema}\n`;
                    }
                } else {
                    mensagem += `Relacionado à Copel: Não\n`;
                }

                $('#mensagem').text(mensagem).show();
            });
        });
    </script>
</body>
</html>
