<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seleção de Itens</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            padding-top: 20px;
        }
        .btn-primary {
            width: 100%;
            font-size: 18px;
            background-color: #285a41;
            border-color: #285a41;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2 class="text-center">Seleção de Itens</h2>
        <div class="form-group">
            <label for="itemSelect">Selecione o tipo de problema</label>
            <select class="form-control" id="itemSelect">
                <option value="">Selecione</option>
                <option value="energia.html">Indisponibilidade de Energia</option>
                <option value="link.html">Indisponibilidade de Link</option>
            </select>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        $(document).ready(function() {
            $('#itemSelect').change(function() {
                var selectedPage = $(this).val();
                if (selectedPage) {
                    window.location.href = selectedPage;
                }
            });
        });
    </script>
</body>
</html>
