<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerador de Chamados</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://127.0.0.1:5000/static/style.css" rel="stylesheet">
    <link href="http://172.17.68.75:5000/static/style.css" rel="stylesheet">
    <style>
        body {
            padding-top: 20px;
        }
        .form-group label {
            font-weight: bold;
        }
        .btn-primary {
            width: 100%;
            font-size: 18px;
        }
        .form-section {
            display: none;
        }
        .result-box {
            margin-top: 20px;
            padding: 10px;
            background-color: #f1f1f1;
            border: 1px solid #ccc;
            border-radius: 5px;
            display: none;
        }
        .copy-button-container {
            text-align: center;
            margin-top: 10px;
        }
        .copy-button {
            width: auto;
        }
        .alert {
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2 class="text-center">Gerador de Chamados</h2>
        <form id="chamadoForm">
            <div class="form-group">
                <label for="tipoProblema">Selecione o tipo de problema</label>
                <select class="form-control" id="tipoProblema">
                    <option value="">Selecione</option>
                    <option value="energia">Indisponibilidade de Energia</option>
                    <option value="link">Indisponibilidade de link</option>
                    <option value="interno">Problema interno</option>
                </select>
            </div>

            <div id="formEnergia" class="form-section">
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="unidade_energia">Qual unidade está com essa indisponibilidade?</label>
                        <input type="text" class="form-control" id="unidade_energia" name="unidade_energia" placeholder="Informe a unidade" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="relacionado_copel">O problema está relacionado com a Copel?</label>
                        <select id="relacionado_copel" name="relacionado_copel" class="form-control" required>
                            <option value="" selected>Selecione</option>
                            <option value="está relacionado">Sim</option>
                            <option value="não está relacionado">Não</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6" id="contatoCopelSection">
                        <label for="entrou_contato">A unidade já entrou em contato com a Copel?</label>
                        <select id="entrou_contato" name="entrou_contato" class="form-control" required>
                            <option value="" selected>Selecione</option>
                            <option value="entrou em contato">Sim</option>
                            <option value="não entrou em contato">Não</option>
                        </select>
                    </div>
                </div>

                <div id="contatoCopel" style="display: none;">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="colaborador_contato">Qual colaborador você entrou em contato?</label>
                            <input type="text" class="form-control" id="colaborador_contato" name="colaborador_contato">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="prazo_resolucao">Informe o prazo para resolução (Ex: 8hrs):</label>
                            <input type="text" class="form-control" id="prazo_resolucao" name="prazo_resolucao">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="motivo_problema">Foi dado um motivo para o problema?</label>
                        <select id="motivo_problema" name="motivo_problema" class="form-control">
                            <option value="" selected>Selecione</option>
                            <option value="sim">Sim</option>
                            <option value="não">Não</option>
                        </select>
                    </div>
                    <div id="justificativa" style="display: none;">
                        <div class="form-group">
                            <label for="justificativa_problema">Qual a justificativa do problema?</label>
                            <input type="text" class="form-control" id="justificativa_problema" name="justificativa_problema">
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary custom-primary">Gerar Chamado</button>
            </div>

            <div id="formLink" class="form-section">
                <div class="form-group">
                    <label for="unidade_link">Qual unidade está com essa indisponibilidade?</label>
                    <input type="text" class="form-control" id="unidade_link" name="unidade_link" placeholder="Informe a unidade" required>
                </div>
                <div class="form-group">
                    <label for="abertura_chamado">Foi realizada a abertura de chamado?</label>
                    <select id="abertura_chamado" name="abertura_chamado" class="form-control" required>
                        <option value="">Selecione</option>
                        <option value="sim">Sim</option>
                        <option value="não">Não</option>
                    </select>
                </div>

                <div id="chamadoAberto" style="display: none;">
                    <div class="form-group">
                        <label for="ticket_chamado">Informe o Ticket do chamado</label>
                        <input type="text" class="form-control" id="ticket_chamado" name="ticket_chamado" placeholder="Ticket do chamado">
                    </div>
                    <button type="submit" class="btn btn-primary custom-primary">Gerar Chamado</button>
                </div>

                <div id="avisoAbrirChamado" style="display: none;">
                    <div class="alert alert-warning" role="alert">
                        Por favor, realize a abertura do chamado antes de continuar.
                    </div>
                </div>
            </div>
        </form>

        <div class="result-box" id="mensagem"></div>
        <div class="copy-button-container">
            <button id="copiarTexto" class="btn btn-primary custom-primary copy-button hidden">Copiar para Área de Transferência</button>
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script>
        document.getElementById("tipoProblema").addEventListener("change", function() {
            // Esconder todas as seções de formulário
            document.querySelectorAll('.form-section').forEach(function(section) {
                section.style.display = 'none';
            });
            // Exibir a seção correspondente
            var selectedValue = this.value;
            if (selectedValue) {
                document.getElementById('form' + selectedValue.charAt(0).toUpperCase() + selectedValue.slice(1)).style.display = 'block';
            }
        });

        document.getElementById("relacionado_copel").addEventListener("change", function() {
            var contatoCopelSection = document.getElementById("contatoCopelSection");
            var contatoCopel = document.getElementById("contatoCopel");
            if (this.value === "está relacionado") {
                contatoCopelSection.style.display = "block";
                contatoCopel.style.display = "block";
                document.getElementById("mensagem").style.display = "none";
            } else {
                contatoCopelSection.style.display = "none";
                contatoCopel.style.display = "none";
                document.getElementById("mensagem").innerHTML = "<div class='alert alert-warning' role='alert'>Se o problema não está relacionado à Copel, por favor, entre em contato com o suporte interno.</div>";
                document.getElementById("mensagem").style.display = "block";
                // Adiciona a classe hidden ao botão copiarTexto
                document.getElementById("copiarTexto").classList.add("hidden");
            }
        });

        document.getElementById("entrou_contato").addEventListener("change", function() {
            var contatoCopel = document.getElementById("contatoCopel");
            if (this.value === "entrou em contato") {
                contatoCopel.style.display = "block";
            } else {
                contatoCopel.style.display = "none";
            }
        });

        document.getElementById("motivo_problema").addEventListener("change", function() {
            var justificativa = document.getElementById("justificativa");
            if (this.value === "sim") {
                justificativa.style.display = "block";
            } else {
                justificativa.style.display = "none";
            }
        });

        document.getElementById("abertura_chamado").addEventListener("change", function() {
            var chamadoAberto = document.getElementById("chamadoAberto");
            var avisoAbrirChamado = document.getElementById("avisoAbrirChamado");
            if (this.value === "sim") {
                chamadoAberto.style.display = "block";
                avisoAbrirChamado.style.display = "none";
            } else {
                chamadoAberto.style.display = "none";
                avisoAbrirChamado.style.display = "block";
            }
        });

        document.getElementById("chamadoForm").addEventListener("submit", function(event) {
            event.preventDefault();

            var tipoProblema = document.getElementById("tipoProblema").value;
            var mensagem = "";
            var unidade = "";
            var resultadoDiv = document.getElementById("mensagem");
            var copiarTextoButton = document.getElementById("copiarTexto");

            if (tipoProblema === "energia") {
                unidade = document.getElementById("unidade_energia").value;
                var relacionadoCopel = document.getElementById("relacionado_copel").value;
                var entrouContato = document.getElementById("entrou_contato").value;
                var colaboradorContato = document.getElementById("colaborador_contato").value;
                var prazoResolucao = document.getElementById("prazo_resolucao").value;
                var motivoProblema = document.getElementById("motivo_problema").value;
                var justificativaProblema = document.getElementById("justificativa_problema").value;

                if (relacionadoCopel === "não está relacionado") {
                    resultadoDiv.innerHTML = "<div class='alert alert-warning' role='alert'>Se o problema não está relacionado à Copel, por favor, entre em contato com o suporte interno.</div>";
                    resultadoDiv.style.display = "block";
                    copiarTextoButton.classList.add("hidden");
                    return;
                }

                mensagem += "Unidade com problema: " + unidade + "<br>";
                if (relacionadoCopel === "está relacionado") {
                    mensagem += "O problema está relacionado com a Copel.<br>";
                    if (entrouContato === "entrou em contato") {
                        mensagem += "A unidade já entrou em contato com a Copel.<br>";
                        if (colaboradorContato) {
                            mensagem += "Colaborador de contato: " + colaboradorContato + "<br>";
                        }
                        if (prazoResolucao) {
                            mensagem += "Prazo para resolução: " + prazoResolucao + "<br>";
                        }
                        if (motivoProblema === "sim" && justificativaProblema) {
                            mensagem += "Motivo do problema: " + justificativaProblema + "<br>";
                        }
                    } else {
                        mensagem += "A unidade não entrou em contato com a Copel.<br>";
                    }
                }
            } else if (tipoProblema === "link") {
                unidade = document.getElementById("unidade_link").value;
                var aberturaChamado = document.getElementById("abertura_chamado").value;
                var ticketChamado = document.getElementById("ticket_chamado").value;

                mensagem += "Unidade com problema: " + unidade + "<br>";
                if (aberturaChamado === "sim" && ticketChamado) {
                    mensagem += "Chamado aberto. Ticket: " + ticketChamado + "<br>";
                } else {
                    resultadoDiv.innerHTML = "<div class='alert alert-warning' role='alert'>Por favor, realize a abertura do chamado antes de continuar.</div>";
                    resultadoDiv.style.display = "block";
                    copiarTextoButton.classList.add("hidden");
                    return;
                }
            }

            resultadoDiv.innerHTML = "<div class='alert alert-success' role='alert'>" + mensagem + "</div>";
            resultadoDiv.style.display = "block";
            copiarTextoButton.classList.remove("hidden");
        });

        document.getElementById("copiarTexto").addEventListener("click", function() {
            var mensagem = document.getElementById("mensagem").innerText;
            var textarea = document.createElement("textarea");
            textarea.value = mensagem;
            document.body.appendChild(textarea);
            textarea.select();
            document.execCommand("copy");
            document.body.removeChild(textarea);
            alert("Texto copiado para a área de transferência!");
        });
    </script>
</body>
</html>
