<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerador de Chamados</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://127.0.0.1:5000/static/style.css" rel="stylesheet">
    <link href="http://172.17.68.75:5000/static/style.css" rel="stylesheet">
    <style>
        body {
            padding-top: 20px;
        }
        .form-group label {
            font-weight: bold;
        }
        .btn-primary {
            width: 100%;
            font-size: 18px;
        }
        .form-section {
            display: none;
        }
        .result-box {
            margin-top: 20px;
            padding: 10px;
            background-color: #f1f1f1;
            border: 1px solid #ccc;
            border-radius: 5px;
            display: none;
        }
        .copy-button-container {
            text-align: center;
            margin-top: 10px;
        }
        .copy-button {
            width: auto;
        }
        .alert {
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2 class="text-center">Gerador de Chamados</h2>
        <form id="chamadoForm">
            <div class="form-group">
                <label for="tipoProblema">Selecione o tipo de problema *</label>
                <select class="form-control" id="tipoProblema" name="tipoProblema" required>
                    <option value="">Selecione</option>
                    <option value="energia">Indisponibilidade de Energia</option>
                    <option value="link">Indisponibilidade de link</option>
                    <option value="interno">Problema interno</option>
                </select>
            </div>
            <div id="formEnergia" class="form-section">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="unidade_energia">Qual unidade está com essa indisponibilidade? *</label>
                        <input type="text" class="form-control" id="unidade_energia" name="unidade_energia" placeholder="Informe a unidade">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="nome_energia">Nome *</label>
                        <input type="text" class="form-control" id="nome_energia" name="nome_energia" placeholder="Informe o nome">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="setor_energia">Setor *</label>
                        <input type="text" class="form-control" id="setor_energia" name="setor_energia" placeholder="Informe o setor">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="contato_energia">Contato *</label>
                        <input type="text" class="form-control" id="contato_energia" name="contato_energia" placeholder="Informe o contato">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="relacionado_copel">O problema está relacionado com a Copel? *</label>
                        <select id="relacionado_copel" name="relacionado_copel" class="form-control">
                            <option value="" selected>Selecione</option>
                            <option value="está relacionado">Sim</option>
                            <option value="não está relacionado">Não</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6" id="contatoCopelSection" style="display: none;">
                        <label for="entrou_contato">A unidade já entrou em contato com a Copel? *</label>
                        <select id="entrou_contato" name="entrou_contato" class="form-control">
                            <option value="" selected>Selecione</option>
                            <option value="entrou em contato">Sim</option>
                            <option value="não entrou em contato">Não</option>
                        </select>
                    </div>
                </div>
                <div id="contatoCopel" style="display: none;">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="colaborador_contato">Qual colaborador você entrou em contato? *</label>
                            <input type="text" class="form-control" id="colaborador_contato" name="colaborador_contato">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="prazo_resolucao">Informe o prazo para resolução (Ex: 8hrs): *</label>
                            <input type="text" class="form-control" id="prazo_resolucao" name="prazo_resolucao">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="motivo_problema">Foi dado um motivo para o problema?</label>
                        <select id="motivo_problema" name="motivo_problema" class="form-control">
                            <option value="" selected>Selecione</option>
                            <option value="sim">Sim</option>
                            <option value="não">Não</option>
                        </select>
                    </div>
                    <div id="justificativa" style="display: none;">
                        <div class="form-group">
                            <label for="justificativa_problema">Qual a justificativa do problema? *</label>
                            <input type="text" class="form-control" id="justificativa_problema" name="justificativa_problema">
                        </div>
                    </div>
                </div>
                <div id="avisoCopel" style="display: none;">
                    <div class="alert alert-warning" role="alert">
                        Por favor, caso o problema não esteja relacionado a Copel, realize a abertura do chamado na opção "Problema Interno".
                    </div>
                </div>
                <button type="submit" class="btn btn-primary custom-primary">Gerar Chamado</button>
            </div>
            <div id="formLink" class="form-section">
                <div class="form-group">
                    <label for="unidade_link">Qual unidade está com essa indisponibilidade?</label>
                    <input type="text" class="form-control" id="unidade_link" name="unidade_link" placeholder="Informe a unidade">
                </div>
                <div class="form-group">
                    <label for="abertura_chamado">Foi realizada a abertura de chamado? *</label>
                    <select id="abertura_chamado" name="abertura_chamado" class="form-control">
                        <option value="">Selecione</option>
                        <option value="sim">Sim</option>
                        <option value="não">Não</option>
                    </select>
                </div>
                <div id="chamadoAberto" style="display: none;">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="ticket_chamado">Informe o Ticket do chamado *</label>
                        <input type="text" class="form-control" id="ticket_chamado" name="ticket_chamado" placeholder="Ticket do chamado">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="prazo_resolucao_internet">Informe o prazo para resolução (Ex: 8hrs): *</label>
                        <input type="text" class="form-control" id="prazo_resolucao_internet" name="prazo_resolucao_internet">
                    </div>
                </div>
                    <button type="submit" class="btn btn-primary custom-primary">Gerar Chamado</button>
                </div>
                <div id="avisoAbrirChamado" style="display: none;">
                    <div class="alert alert-warning" role="alert">
                        Por favor, realize a abertura do chamado antes de continuar.
                    </div>
                </div>
            </div>
        </form>
        <div class="result-box" id="mensagem"></div>
        <div class="copy-button-container">
            <button id="copiarTexto" class="btn btn-primary custom-primary copy-button hidden">Copiar para Área de Transferência</button>
        </div>
    </div>  
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk20E60xII3VJC7Cjv0LMhQnljbK4jr7x5L5VOX" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="http://127.0.0.1:5000/static/script.js"></script>
    <script src="http://172.17.68.75:5000/static/script.js"></script>
    <script>
        // Mostrar seções do formulário com base na seleção
        $('#tipoProblema').change(function() {
            var tipoProblema = $(this).val();
            $('.form-section').hide();
            $('#mensagem').hide();
            $('#copiarTexto').hide();

            if (tipoProblema === 'energia') {
                $('#formEnergia').show();
            } else if (tipoProblema === 'link') {
                $('#formLink').show();
            }
        });

        // Mostrar ou esconder campos no formulário de Energia
        $('#relacionado_copel').change(function() {
            var relacionadoCopel = $(this).val();
            if (relacionadoCopel === 'está relacionado') {
                $('#contatoCopelSection').show();
                $('#contatoCopel').show();
                $('#avisoCopel').hide();
            } else {
                $('#contatoCopelSection').hide();
                $('#contatoCopel').hide();
                $('#avisoCopel').show();
            }
        });

        $('#entrou_contato').change(function() {
            var entrouContato = $(this).val();
            if (entrouContato === 'entrou em contato') {
                $('#contatoCopel').show();
            } else {
                $('#contatoCopel').hide();
            }
        });

        $('#motivo_problema').change(function() {
            var motivoProblema = $(this).val();
            if (motivoProblema === 'sim') {
                $('#justificativa').show();
            } else {
                $('#justificativa').hide();
            }
        });

        // Mostrar ou esconder campos no formulário de Link
        $('#abertura_chamado').change(function() {
            var aberturaChamado = $(this).val();
            if (aberturaChamado === 'sim') {
                $('#chamadoAberto').show();
                $('#avisoAbrirChamado').hide();
            } else {
                $('#chamadoAberto').hide();
                $('#avisoAbrirChamado').show();
            }
        });

        // Submissão do formulário
        $('#chamadoForm').submit(function(event) {
            event.preventDefault();
            var tipoProblema = $('#tipoProblema').val();
            var mensagem = '';

            if (tipoProblema === 'energia') {
                var unidade = $('#unidade_energia').val();
                var nome = $('#nome_energia').val();
                var setor = $('#setor_energia').val();
                var contato = $('#contato_energia').val();
                var relacionadoCopel = $('#relacionado_copel').val();
                var entrouContato = $('#entrou_contato').val();
                var colaboradorContato = $('#colaborador_contato').val();
                var prazoResolucao = $('#prazo_resolucao').val();
                var motivoProblema = $('#motivo_problema').val();
                var justificativaProblema = $('#justificativa_problema').val();

                mensagem = `Prezados, boa tarde! \n\nFavor validar indisponibilidade de energia. Segue dados: \n\nUnidade: ${unidade}. \nNome: ${nome}. \nSetor: ${setor}. \nContato: ${contato}.`;

                if (relacionadoCopel === 'está relacionado') {
                    mensagem += `\nO problema está relacionado à Copel. \nA unidade já entrou em contato com a Copel e o prazo para resolução informado é ${prazoResolucao}. \nColaborador que entrou em contato: ${colaboradorContato}.`;

                    if (motivoProblema === 'sim') {
                        mensagem += `\nMotivo do problema: ${justificativaProblema}.`;
                    } else {
                        mensagem += `\nNão foi dada uma justificativa para o problema.`;
                    }
                } else {
                    mensagem += `\nO problema não está relacionado à Copel.`;
                }

            } else if (tipoProblema === 'link') {
                var unidade = $('#unidade_link').val();
                var aberturaChamado = $('#abertura_chamado').val();
                var ticketChamado = $('#ticket_chamado').val();
                var prazoResolucaoInternet = $('#prazo_resolucao_internet').val();

                mensagem = `Prezados, boa tarde! \n\nFavor validar indisponibilidade de link. Segue dados: \n\nUnidade: ${unidade}.`;

                if (aberturaChamado === 'sim') {
                    mensagem += `\nChamado já foi aberto, segue o Ticket: ${ticketChamado}. \nPrazo para resolução informado é ${prazoResolucaoInternet}.`;
                } else {
                    mensagem += `\nChamado ainda não foi aberto.`;
                }
            }

            $('#mensagem').text(mensagem).show();
            $('#copiarTexto').show();
        });

        // Copiar para área de transferência
        $('#copiarTexto').click(function() {
            var mensagem = $('#mensagem').text();
            navigator.clipboard.writeText(mensagem).then(function() {
                alert('Texto copiado para a área de transferência!');
            }, function(err) {
                alert('Erro ao copiar texto: ', err);
            });
        });
    </script>
</body>
</html>
